body{
 background-image: linear-gradient(to bottom, #47f5e0, #3ce7e2 62%, #31d9e5);
}


.contenedor{
  max-width: 1100px;
  height:657px;
}       

.imagen{
 height: 391px;
 display: block;
 margin: auto;
 position: relative;
 
}


.titulo{
  display: block;
  margin: auto;
  width: 291px;
  height: 225px;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 7;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  position: relative;

}

.parrafo{
  display: block;
  margin: auto;
  color: #ffffff;
  letter-spacing: 0.2px;
  font-family:comfortaa;
  font-size: 20px;
  position: relative;


  }


.btn{
  font-family: Comfortaa;
  border:20px;
  color: #ffffff;
  width: 160px;
  height: 35px;
  border-radius: 4px;
  background-color: #25a899;
  position: relative;
  left: -190px;

}

.btn-flex{
display: flex;
justify-content: flex-end;
}




@media screen and (min-width: 241px;){
  body{
     background:#ff8000;
  }
}