.imagen{
 height: 360px;
 display: block;
 margin: auto;
}

.titulo{
  display: block;
  margin: auto;
  line-height: 45px;
  letter-spacing: 0.4px;
  font-family:'Days One'Regular;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height:43px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.parrafo{
  text-align: justify;
  display: block;
  margin: auto;
  color: #ffffff;
  letter-spacing: 0.2px;
  letter-spacing: 0.2px;
  line-height: 25px;
  font-family:'Quicksand'Medium;
  font-size: 20px;
  }


.btn{
  font-family:'Quicksand'Medium;
  font-size: 20px;
  margin-right: 50px;
  width: 180px;
  height: 40px;
  border:20px;
  color:#563eb3;
  border-radius: 20px;
  background-color:#ffbd41;
}

.btn-flex{
display: flex;
justify-content: flex-end;
}
