.titulo-bloques{
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.logo{
  width: 370px;
  height: 100px;
  position:center;
}

.contenedor{
      max-width: 1300px;
      padding: 10px
}


.img-columna{
  height: 200px;
}


.parrafo-bloques{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.2px;
  text-align: center;
}


.img-personal{
  width: 250px;
  height: 413px;
}


.servicio{
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-family: Raleway;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.btn{
  font-family: Comfortaa;
  border:100px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #25a899; 
}

.btn-nosotros{
  display: flex;
  justify-content: center;
}

.iconoMas{
   width: 100px;
  height: 25px;
}

.mas1 {
  font-family: Comfortaa;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #25a899;
}

.mas2 {
  font-family: Comfortaa;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #25a899;
}


.mas{
  display: flex;
  justify-content: flex-end;
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.columna{
  display: flex;
  flex-direction: column;
}

.titulo-izquierda{
  justify-content: flex-start;
}