
.contenedor-formulario{
  max-width: 900px;
}

.titulo-contacto{
    position: relative;
    font-family:'Days One';
    font-size: 50px;
    color: #ffffff;
}

input[type=text] control-label {
  color: #ffffff;
  border-radius: 5px;
} 

input[type=text], select {
   font-family: 'Quicksand'Medium;
   line-height: 15px;
   font-size: 20px;
   color:#563eb3;
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}



.for[type=text], select {
  border-radius:5px;
}


 .btn{
  font-family:'Quicksand'Medium;
  color: #563eb3;
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background-color:#ffbd41;
}


.form-contacto{
  width: 100%;
}

.form-group {
  position: relative; 
  margin-top: 4rem;
  margin-bottom: 2.25rem;
  width: 100%;
}

.form-inline > .form-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}


.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  font-family:'Quicksand'Medium;
  color: #ffffff;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  left: 0%;
}


.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  line-height: 1.9;
  width: 100%;
  color: #ffbd41;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}

.form-group input[type="file"] {
  line-height: 1;
}

.form-group input[type="file"] ~ .bar {
  display: none;
}

.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
  font-family: 'Quicksand'Medium;
  font-size: 1rem;
  color:white;
  top: -1.3rem;
}


.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}


.input-contacto{
  border-bottom: 1px solid  
}

.error-input{
border-bottom: 2px solid #FF847E;
}

.error-label{
/* background-image:url(../img/alertaIcono.svg); */
background-repeat: no-repeat;
color:#FF847E;
text-align:left;
font-size: 13px;
width: 100%;
}

.form-width{
  width: 80%;
  max-width: 600px;
}

.map-placeholder{
  min-height: 640px;
}

#map{
  position: absolute;
  padding: 0;
  margin: 0;
  border: none;
  width: 100vw;
  height: 640px;
  max-width: 100%;
  background-image: url(../img/Mapas/Mapa360_640Red.svg);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  left: 0;
}


#map-trigger{
  cursor: pointer;
  position: absolute;
  padding: 0;
  margin: 0;
  border: none;
  width: 100px;
  height: 100px;
}




@media only screen and (min-width: 576px) {
 .titulo-contacto{
  font-size: 50px;
  position: relative;
  left: 10px;
 }

 .titulo-contacto {
    position: relative; 
    left: 250px; 
    font-family:'Days One';
    
    font-size: 75px;
    color: #ffffff;
  }

  button{
    position: relative;
    left: 200px;
  }
  
  .form-group{
    width:100%;
  }

  .map-placeholder{
    min-height: 100vh;
    max-height: 1920px;
  }

  #map{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 1920px;
    background-image: url(../img/Mapas/Mapa1920_1080Red.svg);
  }

}





/* MODAL DE ENVIO*/
.modal-content{
  border-radius: 30px;
}

.texto-enviado{
  color: #2d2d2d;
  font-family: Quicksand;
  font-weight:bold;
  font-size: 24px;
  line-height: 21px;
  text-align: center;
}

.texto2{
  color: #2d2d2d;
  font-family:Quicksand;
  font-weight:bold;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
}

.palomita{
  display: block;
  margin: auto;
  height: 80px;
}



/* MODAL DE ERROR*/
.modal-content{
  border-radius: 30px;
}

.tache{
  display: block;
  margin: auto;
  height: 80px; 
}

.error{
  color: #2d2d2d;
  font-family: Quicksand;
  font-weight:bold;
  font-size: 24px;
  line-height: 2px;
  text-align: center;
}

.error2{
  color: #2d2d2d;
  font-family:Quicksand;
  font-weight:bold;
  font-size: 17px;
  text-align: center;
}

.align-items-center{
  text-decoration: none;
}


