*{margin: 0; border: 0;}

body{
  background-image: linear-gradient(to bottom, #5af3e3, #1fc6b4);
}


.wrapper{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;;
}


.contenedor-particulas{
  width: 100%;
  position: absolute;
  z-index: -1;
}

#particles-js { 

}

.titulo{
  opacity: 0.6;
  font-family: 'Righteous', cursive;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.parrafo{
  font-family: 'Comfortaa', cursive;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}


.texto{
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.logo{
  width: 370px;
  height: 100px;
  position:center;
}

.contenedor{
      max-width: 1300px;
      padding: 10px     
}

.navbar-custom{
  background-color: transparent;
  color:white!important;
}

.navbar-custom *{
    color: white;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
}

.img-oficina{
  width: 621px;
  height: 466px;
}



.img-columna{
width: 250px;
height: 200px;

}

.footer {
 background-color: #363839;
 bottom: 0;
 width: 100%;
 height: 205px;
}



.facebook{
  width: 20px;
  height: 30px;
  position: relative;
 left: 1%; 
}


.link{
  width: 20px;
  height: 30px;
  position: relative;
  left: 1.5%;
}

.twitter{
  width: 20px;
  height: 30px;
  position: relative;
  left: 2.5%;

}


.copyright{
background-color: #282a2b;
color: #ffffff;
}


.text{
  color: white;
}

h1{
  opacity: 0.6;
  font-family: Righteous;
  font-size: 88px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
}


.linea{
  font-family: Comfortaa;
  font-size: 43px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: normal;
  color: #ffffff;
}


button{
  font-family: Comfortaa;
  left: 200px;
  border:40px;
  color: #ffffff;
  width: 130px;
  height: 35px;
  border-radius: 8px;
  background-color: #25a899;
}

.form-group {
  position: relative; 
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}


.mas {
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.15;
  position: center;
  color: #25a899;
}

.leer{
  display: flex;
  justify-content: center;
}

.iconoMas{
   width: 100px;
  height: 25px;
}

.centrado{
  display: flex;
  justify-content: center;
}