
.titulo{
  font-family: 'Raleway';
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.parrafo{
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}


.texto{
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}



h2{
 
  font-family: Raleway;
  font-size: 88px;
  font-weight: bold;
  font-style: normal;
  line-height: 3.25;
  letter-spacing: normal;
  color: #ffffff;
}


.linea{
  font-family: Comfortaa;
  font-size: 43px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: normal;
  color: #ffffff;
}


button{
  font-family: Comfortaa;
  left: 200px;
  border:40px;
  color: #ffffff;
  width: 130px;
  height: 35px;
  border-radius: 8px;
  background-color: #25a899;
}

.form-group {
  position: relative; 
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}


.mas {
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.15;
  position: center;
  color: #25a899;
}

.leer{
  display: flex;
  justify-content: flex-end;
}

.iconoMas{
   width: 100px;
  height: 25px;
}

.centrado{
  display: flex;
  justify-content: center;
}



.img-soluciones{
  min-width: 300px;
  max-width: 450px;
}

#como-lo-hacemos{
  font-size: 35px;
}

@media only screen and (min-width: 560px) {
  #como-lo-hacemos{
  font-size: 80px;

}
} 

