.titulo{
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.logo{
  width: 370px;
  height: 100px;
  position:center;
}

.contenedor{
      max-width: 1300px;
      padding: 10px
}

.navbar-custom{
  background-color: transparent;
  color:white!important;
}

.navbar-custom *{
    color: white;
    text-decoration: none;
}

.img-columna{
    height: 350px;
}


.parrafo{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}


.img-personal{
  width: 250px;
  height: 413px;
}


.servicio{
  opacity: 0.6;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-family: 'Righteous', cursive;
  font-size: 88px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.btn{
  font-family: Comfortaa;
  border:100px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #25a899; 
}

.btn-nosotros{
  display: flex;
  justify-content: center;
}

.iconoMas{
   width: 100px;
  height: 25px;
}

.mas1 {
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 1000;
  line-height: 1.15;
  text-align:  center;
  color: #25a899;
}

.mas2 {
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.15;
  text-align:  right;
  color: #25a899;
}


.mas{
  display: flex;
  justify-content: flex-end;
}
