
#titulo{
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  font-family: 'Days One', sans-serif;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.parrafo{
  font-family: 'Quicksand', sans-serif;
    font-size: 27px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}



#como-lo-hacemos{
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  font-family: 'Days One', sans-serif;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.mas {
  font-family: 'Quicksand', sans-serif;
    font-size: 20px;
  font-weight: bold;
  line-height: 1.25;
  text-align: right;
  color: #ffbd41;
}

.leer{
  display: flex;
  justify-content: flex-end;
}

.iconoMas{
  width: 21px;
  height: 29px;
  padding: 2px;
}

.centrado{
  display: flex;
  justify-content: center;
}



.img-soluciones{
  min-width: 229px;
  max-width: 279px;
}


  
@media only screen and  (min-width: 576px){
  
  .parrafo{
    text-shadow: 0 2px 2px rgba(45, 45, 45, 0.5);
    font-family: 'Quicksand', sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.24;
  letter-spacing: normal;
    text-align: left;
  }
  .img-soluciones{
    min-width: 400px;
    max-width: 550px;
  }
  .mas{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: bold;
  }


  .iconoMas{
    width: 20px;
    height: 36px;
  }

  
  #como-lo-hacemos{
    text-shadow: 0 2px 2px rgba(45, 45, 45, 0.5);
    font-family: 'Days One', sans-serif;
    font-size: 75px;
    font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: -0.8px;
  text-align: left;
  }
  #titulo{
    text-shadow: 0 2px 2px rgba(45, 45, 45, 0.5);
    font-family: 'Days One', sans-serif;
  font-size: 90px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
    text-align: left;
    line-height: 1.28;
    letter-spacing: -0.8px;
  }
  .texto2{
    font-size: 23.5px;
}
.parrafo{
    font-size: 24px;
}
.imagen{
  height: 340px;
}
.gif{
  height: 180px;
}
.espacio-animacion{
height: 43px;

}
}

