body{
    background-image: linear-gradient(to bottom, #47f5e0, #3ce7e2 62%, #31d9e5);
}

.contenedor{
max-width: 1100px;
height: 939px;
}

.texto1{
  font-family: Comfortaa;
  font-size: 50px;
  margin:auto;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  display: block;
  text-align: left;
  color: #ffffff;
}

.texto2{
  color: #ffffff;
  font-family: Montserrat;
  font-size: 23.5px;
  text-align: left;
  margin-left: 36px;
}

.btn{
  font-family: Comfortaa;
  border:100px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #25a899; 
    text-align: left;
  margin: auto;
}

.btn-flex{
	display: flex;
  justify-content:flex-end;
}

.gif{
  height: 180px;
  display: block;
  margin: auto;

}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.columna{
  display: flex;
  flex-direction: column;
}