.titulo{
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  font-family: 'Days One', sans-serif;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.parrafo{
  font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.12;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
}


.texto{ 
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.filosofia{
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  font-family: 'Days One', sans-serif;
  font-size: 45px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}


.flip-number::before {
  content: 'a';
  display: block;
  color: transparent;
}


.flip-number::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;    
  content: '0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A' attr(data-num);
  display: block;
  white-space: pre-line;
  text-align: center;
  animation: flipNumber cubic-bezier(.12,.78,.52,1.2)  1.0s;
  animation-fill-mode: forwards;
  will-change: transform;
}

@keyframes flipNumber {
  from {transform: translateY(0%);}
  to {transform: translateY(-1000%);}
}

.flip-number:nth-last-of-type(n + 1)::after { animation-delay: .4s;}
.flip-number:nth-last-of-type(n + 2)::after { animation-delay: .8s;}
.flip-number:nth-last-of-type(n + 3)::after { animation-delay: 1.2s;}
.flip-number:nth-last-of-type(n + 4)::after { animation-delay: 1.6s;}
.flip-number:nth-last-of-type(n + 5)::after { animation-delay: 2.0s;}
.flip-number:nth-last-of-type(n + 6)::after { animation-delay: 2.4s;}
.flip-number:nth-last-of-type(n + 7)::after { animation-delay: 2.8s;}
.flip-number:nth-last-of-type(n + 8)::after { animation-delay: 3.2s;}
.flip-number:nth-last-of-type(n + 9)::after { animation-delay: 3.6s;}
.flip-number:nth-last-of-type(n + 10)::after { animation-delay: 4.0s;}
.flip-number:nth-last-of-type(n + 11)::after { animation-delay: 4.4s;}
.flip-number:nth-last-of-type(n + 12)::after { animation-delay: 4.8s;}

.flip-number {
  position:relative;
  overflow: hidden;
  display: inline-block;
}


.flip-number {
  font-size: 100px;
  background: transparent;
  text-align: center;
  width: 120px;
  color: white;
  font-family: 'Days One', sans-serif;
  font-weight: bold;
  line-height: 1.17;
  margin-top: 20px;
}

.trabajo{
  font-family: 'Quicksand', sans-serif;
  font-size: 37px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.tenemos{
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  font-family: 'Quicksand', sans-serif;
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
}

.talento{
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  font-family: 'Days One', sans-serif;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align:center;
  color: #ffffff;
}

.equipo{
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}

.certificado {
  height: 143px;
  padding: 15px 35px;
  margin-top: 30px;
}



.btn-servicios{
  display: flex;
  justify-content:flex-end;
}

.img-equipo{
    height: 270px;
}

 

.texto-block-1{
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  font-family: 'Days One', sans-serif;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.text-bloc-2{
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}

.m-agiles{
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  font-family: 'Days One', sans-serif;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.pensamientos{
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  font-family: 'Days One', sans-serif;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.ambiente{
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  font-family: 'Days One', sans-serif;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}



.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.columna{
  display: flex;
  flex-direction: column;
}


.h-100vh {
  height: 100vh;
  max-height: 100%;
}

.w-100vw {
  width: 100vw;
  max-width: 100%;
}

.contenedor {
  max-width: 1300px;
}

.fixed-important {
  position: fixed !important;
}





.img-container {
  position: absolute;
  height: 100vh;
  max-width: 100%;
  z-index: -40;
}

.img-container-left {
  left: 0;
}

.img-container-right {
  right: 0;
}

.img-class {
  position: absolute;
  height: 75%;
  transition: opacity 300ms ease-in-out;
}

.img-left {
  left: 0;
}

.img-right {
  right: 0;
}

#img-left-1,
#img-right-1 {

  opacity: 1;
}

#img-left-2,
#img-right-2 {

  opacity: 0;
  height: 75%;
}

#contenedor-img-3{
  left: 0;
  z-index: -40;
}

#img-left-3 {
  height: 75%;
  position: absolute;
  opacity: 0;
  z-index: -40;
}


#contenedor-img-4{
  left: 0;
  z-index: -40;
 
}

#img-4 {
  height: 75%;
  display: block;
  position: absolute;
  opacity: 0.4;
  z-index: -40;
}



.flex-column{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.flex{
  display: flex!important;
  justify-content: flex-end;
  align-items: flex-end;
}

.carousel-indicators{
  bottom: -80px;
}

.carousel-indicators li{
    width: 1rem!important;
    height: 1rem!important;
    border-radius: 50%;
    position: relative;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #ffbf0078;
}

.carousel-indicators .active {
  background-color:#ffbd41;
}

.carrusel-items{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
}


.carrusel-custom{
  position: absolute;
  width: 100vw; 
  max-width: 100%;
  left: 0;
}

.carusel-dummy{
  height: 65vh;
}

.texto-foto{
  font-family: 'Days One', sans-serif;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}


.btn-integrate{
  display: flex;
  justify-content:flex-end;
}


.linea{
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.16));
  font-family: 'Days One', sans-serif;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.align-left{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.carrusel-contenido{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 576px) {
  .linea{
     font-size: 80px;
     text-align: center;
  }
  .certificado {
  height: 120px; 
  padding: 17px 58px;
}
.titulo{
  font-size: 90px;
}
.img-equipo{
  height: 400px;
}
.parrafo{
  font-size: 25px;
  text-align: left;
}
.filosofia{
  font-size: 70px;
}
.trabajo{
  font-size: 45px;
  font-weight: 500;
}
.tenemos{
  font-size: 160%;
  font-weight: 500;
  text-align:center;
}
.flip-number{
  font-size: 140px;
}
.texto-block-1{
  font-family: 'Days One', sans-serif;
  font-size: 70px;
}

.text-bloc-2{
    font-family: 'Quicksand', sans-serif;
    width: 50%;
    text-shadow: 0 2px 2px rgba(45, 45, 45, 0.5);
    font-size: 35px;
}

.m-agiles{
  font-family: 'Days One', sans-serif;
  font-size: 70px;
}

.pensamientos{
  font-family: 'Days One', sans-serif;
  font-size: 70px;
}

.ambiente{
  font-family: 'Days One', sans-serif;
  font-size: 70px;
}

.img-class {
  position: absolute;
  height: 75%;
  transition: opacity 300ms ease-in-out;
}

#img-4 {
 opacity: 0;
 display: none;
}

.texto{
  font-size: 25px;
  font-weight:bold;
}
.talento{
  font-size: 80px;
}
.equipo{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
} 




