.titulo-bloques{
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.contenedor{
      max-width: 1300px;
      padding: 0;
      padding-top: 200px;
}


.img-columna{
  height: 30vh;
}

.parrafo-bloques{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.2px;
  text-align: center;
}

.servicio{
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-family: Raleway;
  font-size: 65px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.btn{
  font-family: Comfortaa;
  border:100px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #25a899; 
}

.btn-nosotros{
  display: flex;
  justify-content: center;
}

.iconoMas{
   width: 50px;
  height: 25px;
}

.mas1 {
  font-family: Comfortaa;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #25a899;
}



.mas{
  display: flex;
  justify-content: flex-end;
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.columna{
  display: flex;
  flex-direction: column;
}

.contenedor>.row{
  padding: 50px;
  background-image: linear-gradient(to bottom, #47f5e0, #3ce7e2 62%, #31d9e5);
  
}

@media only screen and (min-width: 576px) {
  .contenedor{
    padding: 50px;
    padding-top: 200px;
  }
  .contenedor>.row{
    background-image: none;
    padding: 0;
  }
  .img-columna{
    height: 350px;
  }
  .servicio{
    font-size: 80px;
  }
}