*{margin: 0; border: 0;}

body {
  background-image: linear-gradient(to bottom, #5af3e3, #1fc6b4);
  font-family: Comfortaa;
}

.contenedor-particulas {
  width: 100%;
  position: absolute;
  z-index: -1;
}

#particles-js { 

}

.logo {
  width: 370px;
  height: 100px;
  position: center;
}


.container {
      max-width: 1000px;
      padding: 30px
     
}

.navbar-custom {
  background-color: transparent;
  color: white!important;
}

.navbar-custom *{
    color: white;
    text-decoration: none;
}


.footer {
background-color: #363839;
 bottom: 0;
 width: 115%;
 height: 205px;
 color: #ffffff;
}

.copyright {
width: 115%;
height: 51px;
background-color: #282a2b;
color: #ffffff;
position: absolute;
left: 0%;
}

.articulo {
  width: 800px;
  height: 1000px;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: left;
  text-align: justify;
  color: #ffffff;
  position: relative;
  top: -120px;

}

.apps {
  width: 800px;
  height: 333.3px;
  position: relative;
  left: 20%;
}

.Enunciado {
 font-family: 'Righteous';
 color: white;
 font-size: 50px;
 position: relative;
 top: -280px;
 left: 290px;
} 




.compartir {
  font-family: 'comfortaa';
  color: white;
  position: relative;
  left: 65%;
}


.facebook {
  width: 20px;
  height: 30px;
  position: relative;
 left: 1%; 
}


.link {
  width: 20px;
  height: 30px;
  position: relative;
  left: 1.5%;
}

.twitter {
  width: 20px;
  height: 30px;
  position: relative;
  left: 2.5%;

}

.conoce {
  font-family: 'Comfortaa';
  color: white;
  position: relative;
     left: 20%;
}


hr {
  height: 1px;
  background-color: white;
  width: 800px;
  height: 0;
}


.outsorcing {
  width: 300px;
  height: 133.3px;
  position: relative;
  left: 3%;
}

.texto1 {
font-family: 'Comfortaa';
color: white;
position: relative;
left: 3%;
}


.machine {
  width: 300px;
  height: 133.3px;
  float: right;
  position: relative;
  left: 50%;
}

.texto {
font-family: 'Comfortaa';
color: white;
position: relative;
left: 50%;
}


