*{margin: 0; border: 0;}

html{
  min-height: 100%;
}
body{
  background-image: linear-gradient(to bottom, #1949a7, #1949a7 49%, rgba(53, 0, 122, 0.84));
background-repeat: no-repeat;
}

.wrapper{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;;
}


.contenedor{
max-width: 1300px;
padding:50px; 
padding-top: 200px;  
}

.footer {
 background-color: #363839;
 list-style:none;
}

.logo-nav{
  display: none;
}

 .logo{
  height: 4rem;
  max-width: 210px;
}

.facebook{
  width: 20px;
  height: 30px;
  position: relative;
 left: 1%; 
}

.link{
  width: 20px;
  height: 30px;
  position: relative;
  left: 1.5%;
}

.twitter{
  width: 20px;
  height: 30px;
  position: relative;
  left: 2.5%;
}

.copyright{
  background-color: #282a2b;
  font-family: Montserrat;
  font-size: 12px;
  height: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #868b8b;
  padding: 20px;
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text{
text-align: center;
font-family: Quicksand;
font-size: 18px;
color: #ffffff;
}

.navbar-custom{
  position: fixed;
  width: 100vw;
  max-width: 100%;
  color:white!important;
  background-color: transparent !important;
  padding: 30px 103px; 
  padding-left: 12px;
   transition: 300ms ease-in-out;
   z-index: 1;
}

.navbar-custom > .navbar-collapse > .navbar-nav > .nav-item > .nav-link{
  color:white!important;
}

.navbar-custom > .navbar-collapse > .navbar-nav > .nav-item.active {
  background-color: transparent !important;
}

.navbar-custom > .navbar-collapse > .navbar-nav > .nav-item.active > .nav-link{
  color:#ffbd41!important;
  background-color: transparent !important;
}

.navbar-custom-dark{
  background-color: rgba(54,56,57, 0.75) !important;
}

.navbar-custom-up{
  transform: translateY(-300px);
}


.navbar-custom *{
  color:#25a899;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

a{
  color: white;
  font-size: 18px;
  font-family: Quicksand;
}



p{
  color: #ffffff;
}

.img-logos{
  width: 70px;
}

.texto-Contacto{
  font-family: 'Days One', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.img-redes-sociales{
width: 30px;
}

.texto1-opacidad{
  color: #868b8b;
  text-align: left;
  font-family: Quicksand;
}

.inline{
  display: inline;
}

.column{
display: flex;
flex-direction: column;
}

#columna-contacto{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 20px;
}

#img-twitter{
  margin-left: 20px;
}

#img-linked{
  margin-left: 20px;
}



#img-toma-turno{
  margin-left: 20px;
}

.h-100vh{
  height: 100vh;
  max-height: 100%;
}

.invisible{
  opacity: 0;
}

@media only screen and (min-width: 576px){
  .copyright{
  background-color: #282a2b;
  font-family: Quicksand;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #868b8b;
  }

  .logo-nav{
    display: block;
  }
  .navbar-custom{
    padding: 30px 103px;
  }
}