*{margin: 0; border: 0;}

html{
  min-height: 100%;
}
body{
background-image: linear-gradient(to bottom, #47f5e0, #3ce7e2 62%, #31d9e5);
background-repeat: no-repeat;
}

.wrapper{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;;
}


.contenedor{
max-width: 1300px;
padding:50px; 
padding-top: 200px;  
}

.footer {
 background-color: #363839;
 list-style:none;
 padding: 50px;
}

.logo{
  height: 4rem;
  max-width: 210px;
  position:center;
}

.facebook{
  width: 20px;
  height: 30px;
  position: relative;
 left: 1%; 
}

.link{
  width: 20px;
  height: 30px;
  position: relative;
  left: 1.5%;
}

.twitter{
  width: 20px;
  height: 30px;
  position: relative;
  left: 2.5%;
}

.copyright{
background-color: #282a2b;
color: #ffffff;

}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text{
text-align: center;
}

.navbar-custom{
  position: fixed;
  width: 100vw;
  max-width: 100%;
  color:white!important;
  background-color: transparent !important;
  padding: 30px 103px;
   transition: 300ms ease-in-out;
   z-index: 1;
}

.navbar-custom > .navbar-collapse > .navbar-nav > .nav-item > .nav-link{
  color:white!important;
}

.navbar-custom > .navbar-collapse > .navbar-nav > .nav-item.active {
  background-color: transparent !important;
}

.navbar-custom > .navbar-collapse > .navbar-nav > .nav-item.active > .nav-link{
  color:#25a899!important;
  background-color: transparent !important;
}

.navbar-custom-dark{
  background-color: rgba(54,56,57, 0.75) !important;
}

.navbar-custom-up{
  transform: translateY(-300px);
}


.navbar-custom *{
  color: white;
  font-family: 'Comfortaa', cursive;
}


a{
  color: white;
}

p{
  color: #ffffff;
}

.img-logos{
  width: 70px;
}

.texto1{
  font-family: Comfortaa;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  
  color: #ffffff;
}

.img-redes-sociales{
width: 30px;
}

.texto1-opacidad{
  opacity: 0.6;
}

.inline{
  display: inline;
}

.column{
display: flex;
flex-direction: column;
}

#columna-contacto{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 20px;
}

#img-twitter{
  margin-left: 20px;
}

#img-linked{
  margin-left: 20px;
}



#img-toma-turno{
  margin-left: 20px;
}

.h-100vh{
  height: 100vh;
  max-height: 100%;
}

.invisible{
  opacity: 0;
}

