body{
	background-image: linear-gradient(to bottom, #1949a7, #1949a7 49%, rgba(53, 0, 122, 0.84));
	background-repeat: no-repeat;
}


.contenedor{
	max-width: 1100px;
	height: 945px;
	}
	

h2{
font-family: Righteous;
color: #ffffff;
font-size: 80px;
text-align: center;
}



.imagen{
display: block;
margin: auto;
 height: 403px;
 }



.btn{
  display: block;
  margin:auto;
  font-family: Comfortaa;
  border:20px;
  color: #ffffff;
  width: 135px;
  height: 35px;
  border-radius: 4px;
  background-color: #25a899;
  position:relative;
  top:5%;
}


.texto {
	text-align: center;
	display: flex;
	width: 500px;
	height: 40px;
	color: #ffffff;
	font-size: 40px;
	line-height: 40px;
	font-family: comfortaa;
	position: relative;
	top: 1;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow: hidden;
	}



.animacion-texto {
	list-style:none;
	padding-left: 10px;
	margin: 0;
	animation: girar 5s infinite;
}

.espacio-animacion{
height: 43px;

}



@keyframes girar  {
	
	0%{ margin-top: 40px;}

	15%{ margin-top: 0px;}
	50% {margin-top: 0px;}

	75% {margin-top: -80px;}
	85%{margin-top: -80px;}
	100% {margin-top: -120px;}
	
}