*not(button, input){
	margin: 0;
	padding: 0;
	border:none;
}


body{
	background-image: linear-gradient(to bottom, #1949a7, #1949a7 49%, rgba(53, 0, 122, 0.84));
	background-repeat: no-repeat;
	}

.full-screen{
	height: 100vh;
	width: 100vh;
}

.centered{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.letter-container{
position: absolute;
width: 300px;
animation: aparece 600ms ease-in-out;
opacity: 0;
animation-fill-mode: forwards;
}


.letra{
	width: 120px;

	
}



.container-R{

}

.container-e{
	animation-delay: 600ms;
}

.container-d{
	animation-delay: 1200ms;
}


.point-container{
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
}

.point{
	width: 50px;
	opacity: 0;
	animation: pop 1000ms;
	animation-delay: 1800ms;
	animation-fill-mode: forwards;
}

.limiter{
	 display: inline;
    width: 300px;
    height: 133px;
    position: relative;
}

@keyframes aparece{
	from{
		transform: translateX(100px);
		opacity: 0;
	}
	to{
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes pop{

0%{
	opacity: 0;
	transform: scale(0);
}
20%{
	opacity: 1;
	transform: scale(0.8);
}
	/*85%{
		opacity: 1;
		transform: scale(1.4);
	}*/
	100%{
		opacity: 1;
		transform: scale(1);
	}
}


.large-header {
   position: relative;
   width: 100%;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
}


 .st0{fill:none;}
 .st2{fill:#DCDCDC;}
 .st1{fill:#FFFFFF;}
 
 .point-container>.point>.st1{fill:#C81E32;}
 .point-container>.point>.st2{fill:#AF1E32;}
 .point-container>.point>.st3{fill:#A01E32;}
 



.hidding{
	animation: hidding 300ms ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes hidding{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}

#soluciones{
	color: #FFFFFF;
	font-size: 25px;
	font-family: Montserrat;
	opacity: 0;
	margin-top: 170px;
}

.soluciones-tecologicas{
	position: absolute;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	max-height: 100%;
	top: 0;
}

#slogan{
	opacity: 0;
	font-family: 'Quicksand', sans-serif;
	position: center;
	font-size: 850px;
	font-weight: 500;
	line-height: 1.25;
	color: white;
	transition: 1000ms ease-in-out;
}

.showing{
	opacity: 1 !important;
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .columna{
	display: flex;
	flex-direction: column;
  }
  

.contenedor-slogan{
	position: fixed;
    top: 0;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;	
}

@media only screen and (min-width: 576px){
	#slogan{
		font-size: 60px;
	}
}